{% extends 'contentpiece/base.html' %}
{% block body %}

<div class="container">
    <div class="row g-5">
        <div class="col">
            <div class="container mb-3">
                <h2 class="font-weight-bold mt-3">About Us</h2>
                <hr>                    
                    <p style="text-align: center;">Commp is all about perfecting your written & spoken communication in English - to create the perfect impression about you. In every scenario, be it a professional scenario or a personal scenario.</p>
                    
                    <p style="text-align: center;">Human beings respond to situations and interactions based on the perception created in our minds during the interaction. Creating the apt perception is just not limited to grammar. It is our choice of words, our voice & our general demeanour during the interaction. Commp provides the tools to master all these aspects and create the perfect perception.
                        
                        </p>

                        <p style="text-align: center;">Commp is a platform for all individuals who have the drive to succeed in life. Every time you like a video, leave a comment, respond to a situation or give suggestions, it helps everyone grow.</p>    
                    
                        
            </div> 
        </div>
        </div>
    </div>
    <br><br>

{% endblock %}

