{% extends 'contentpiece/base.html' %}
{% block body %}

<div class="container">
    <div class="row g-5">
        <div class="col">
            <div class="container mb-3">
                <h2 class="font-weight-bold mt-3">About Us</h2>
                <hr>                    
                    <p style="color: gray;">Commp is all about perfecting your written & spoken communication in English.</p>
                    
                    <p style="color: gray;">We as human beings respond to situations and interactions based on the perception created in our minds during the interaction. This perception is created partly by the words used during the interaction. 
                        Creating the apt perception is just not limited to grammar. It is our choice of words, our voice & in non-covid scenario where we would interact face-to-face our general demeanour during the interaction. 
                        
                        </p>

                        <p style="color: gray;">Commp is a community of individuals, for the individuals. Every time you respond to a situation or give suggestions, it helps in the growth of the entire community.</p>    
                    
                        <p style="color: gray;">
                           Our tools enable individuals to create the right perception in every scenario - professional or personal. Every time.
                        </p>
                         
            </div> 
        </div>
        </div>
    </div>
    <br><br>

{% endblock %}

