{% load static %}
{% static 'photos' as baseUrl %}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href=" {% static 'contentpiece/style.css' %} ">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Online English Course| Online Free Course |Online Learning| Online Courses| Online Sales Course| Free Online Course </title>
  
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NL3YWYQRVW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NL3YWYQRVW');
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-203731297-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-203731297-1');
</script>
</head>
<body>
    <!-- <div class="container">  -->

        <!-- <nav class="navbar navbar">

              <a class="navbar-brand" href="{% url 'sean:index' %}"> <img width="180px" src="{% static 'contentpiece/commp_logo.png' %}" alt=""></a>
          
                <div class="navbar"> -->
                        <!-- {% if user.is_authenticated %}
                        <a href="{% url 'contentpiece:create_item' %}" class="btn btn-success">Share Your Ideas</a>
                        {% else %}
                         <a href="{% url 'register' %}" class="btn btn-success" >Share Your Ideas</a> </button>
                        {% endif %} -->
                        <!-- <a class="btn btn" href="{% url 'sean:index' %}">Zoey</a>   -->
                        <!-- <div class="dropdown">
                          <button class="btn dropdown-toggle" data-bs-toggle="dropdown">
                            Tools
                          </button>
                          <ul class="dropdown-menu">
                            <li><a style="color: black; margin-left: 5px; font-size: small;" href="{% url 'sean:index' %}">Zoey</a></li>
                           
                            
                          </ul>
                        </div>
                        <div class="dropdown">
                          <button class="btn dropdown-toggle" data-bs-toggle="dropdown">
                            Conversations
                          </button>
                          <ul class="dropdown-menu">
                            <li><a style="color: black; margin-left: 5px; font-size: small;" href="{% url 'freecon:indexfreecon' %}">Conversations</a></li>
                            <li><a style="color: black; margin-left: 5px; font-size: small;" href="{% url 'contentpiece:index' %}">Featured Conversations</a></li>
                            
                          </ul>
                        </div>
                        
                        
                        <a class="btn btn" href="{% url 'dtt:index' %}">What's Your Decision?</a> -->
                        <!-- <a class="btn btn" href="https://www.youtube.com/watch?v=S9F7CYGnUdc">In Action</a> -->
                        <!-- <a class="btn btn" href="{% url 'flashcard:index' %}">Flash Cards</a> -->
                        
                       
                       

                        <!-- {% if user.is_authenticated %}
                            <div class="dropdown">
                                <button class="btn btn-success btn-sm dropdown-toggle" data-bs-toggle="dropdown">
                                  Profile
                                </button>
                                <ul class="dropdown-menu"> -->
                                  <!-- <li><a style="color: black; margin-left: 5px; font-size: small;" href="{% url 'profile' %}">Profile</a></li> -->
                                  <!-- <li><a style="color: black; margin-left: 5px; font-size: small;" href="{% url 'flashcard:index' %}">Flash Cards</a></li>
                                  <li><a style="color: rgb(161, 160, 160); margin-left: 5px; font-size: small;" href="{% url 'logout' %}">Logout</a></li>
                                </ul>
                              </div>
                                
                            {% else %}
                                <a class="btn btn-success" href="{% url 'login' %}">Login</a>  -->
                                
                                <!-- <a href="{% url 'register' %}">Signup</a> -->
                            <!-- {% endif %}
                            
                    </div>
           
                </nav> <br>
        -->
                



        
    <!-- </div> -->
    

    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'sean:index' %}"><img width="180px" src="{% static 'contentpiece/commp_logo.png' %}" alt=""></a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <div class="dropdown">
                <button style="font-weight: bolder;" class="btn dropdown-toggle" data-bs-toggle="dropdown">
                  Tools
                </button>
                <ul class="dropdown-menu">
                  <li><a style="color: black; margin-left: 5px; padding-left: 5px;"  class="btn btn" href="{% url 'sean:index' %}">Zoey</a></li> 
                  
                  <li> <a style="color: black; margin-left: 5px; padding-left: 5px;" class="btn btn" href="{% url 'dtt:index' %}">Decisions</a></li>
                 
                  
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <div class="dropdown">
                <button style="font-weight: bolder;" class="btn dropdown-toggle" data-bs-toggle="dropdown">
                  Conversations
                </button>
                <ul class="dropdown-menu">
                  <li><a style="color: black; margin-left: 5px; padding-left: 5px;" class="btn btn" href="{% url 'freecon:indexfreecon' %}">Videos</a></li>
                  
                  <li><a style="color: black; margin-left: 5px; padding-left: 5px;" class="btn btn" href="{% url 'contentpiece:index' %}">Practical Tips</a></li>
                  
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a  style="font-weight: bolder;" class="btn btn" href="{% url 'blog:indexblg' %}">Blogs</a>
            </li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li>

              {% if user.is_authenticated %}
                            <div class="dropdown">
                                <button class="btn btn-success btn-sm dropdown-toggle" data-bs-toggle="dropdown">
                                  Profile
                                </button>
                                <ul class="dropdown-menu">
                                  <li><a style="color: black; margin-left: 5px; font-size: small;" href="{% url 'flashcard:index' %}">Flash Cards</a></li>
                                  <li><a style="color: rgb(161, 160, 160); margin-left: 5px; font-size: small;" href="{% url 'logout' %}">Logout</a></li>
                                </ul>
                              </div>
                          
                  {% else %}
                                <a class="btn btn-success" href="{% url 'login' %}">Login</a>
                   {% endif %}             


            </li>
          </ul>
          
        </div>
      </div> <br>
    </nav> <br>
    
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}">
                {{ message }}
            </div>
            
        {% endfor %}
        {% endif %}        
    {% block body %}
    {% endblock %}
    {% include 'contentpiece/footer.html' %}
    
    

</body>
</html>