{% load static %}
{% static 'photos' as baseUrl %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href=" {% static 'contentpiece/style.css' %} ">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Online English Course| Online Free Course </title>
   
</head>
<body>
    <!-- <div class="container">  -->
        
            <nav class="navbar navbar">
                <a class="navbar-brand" href="{% url 'contentpiece:index' %}"> <img width="180px" src="{% static 'contentpiece/commp_logo.png' %}" alt=""></a>
                
                <div class="navbar">
                        <!-- {% if user.is_authenticated %}
                        <a href="{% url 'contentpiece:create_item' %}" class="btn btn-success">Share Your Ideas</a>
                        {% else %}
                         <a href="{% url 'register' %}" class="btn btn-success" >Share Your Ideas</a> </button>
                        {% endif %}
         -->
                        <a class="btn btn-link" style="color: black;" href="{% url 'flashcard:index' %}">Flash Cards</a>
                        <!-- <a class="active nav-link" href="#home"><h5 style="font-size: medium; color: black;">Discussion Board</h5></a> -->
                        <!-- <a class="nav-link" href="{% url 'expert:expertView' %}"><h5 style="font-size: medium; color: black;">Expert Corner</h5></a>  -->
                       
                            {% if user.is_authenticated %}
                                <a class="btn btn-link" style="color: grey;" href="{% url 'logout' %}">Logout</a>
                                <a class="btn btn-success" href="{% url 'profile' %}">Profile</a>
                                
                            {% else %}
                                <a class="btn btn-success" href="{% url 'login' %}">Login</a> 
                                
                                <!-- <a href="{% url 'register' %}">Signup</a> -->
                            {% endif %}
                        
                        
        
                    </div>
           
                </nav> <br>
                
        
    <!-- </div> -->
    
    
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}">
                {{ message }}
            </div>
            
        {% endfor %}
        {% endif %}        
    {% block body %}
    {% endblock %}
    {% include 'contentpiece/footer.html' %}
    
    

</body>
</html>