<html>
<head>
<style>

.footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:white;
    color: gray;
    text-align: center;
    
    font-size: normal;
    


}




</style>
</head>
<body>




<div class="footer">
    
    &#169 2021; Unhappy with something? Holler away at: hello@commp.in &nbsp; &nbsp; &nbsp;
    <!-- <button>
        <img src="" alt="">
    </button> -->
    <a href="{% url 'myapp:action' %}" class="btn btn-success btn-sm">Watch us in Action</a> <br><p></p>
    <!-- <a href="https://www.youtube.com/watch?v=S9F7CYGnUdc&t=16s" class="btn btn-success btn-sm">Watch us in Action</a> <br><p></p> -->
<br><br>
</div>

</body>
</html>
