
{% extends 'contentpiece/base.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>Online English Course| Online Free Course |Online Learning| Online Courses| Online Sales Course| Free Online Course</title>
    
</head>
<body>
    
    
    {% block body %}


        
        <!-- search bar -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 style="font-weight: bolder;">Featured Conversations</h2><p></p>
                    
                    <h6 style="display: inline;">Watch & learn from </h6><h6 style="display: inline; color: #00b03c; font-weight: bolder;">real conversations.</h6> <h6 style="display: inline;"> 
                        Get </h6> <h6 style="display: inline; color: #00b03c; font-weight: bolder;">practical tips</h6><h6 style="display: inline;"> on how to create the perfect impression
                            while communicating in English.</h6><p></p>
                    <!-- <h6 style="display: inline;">Register for </h6><h6 style="display: inline; color: #00b03c; font-weight: bold;">FREE.</h6>    -->
                    {% if user.is_authenticated %}
                    <a href="{% url 'sean:suggestions' %}" class="btn btn-success">Suggestions for Conversations</a> &nbsp;&nbsp;&nbsp;
                    <a href="{% url 'freecon:indexfreecon' %}" class="btn btn-success">Conversations</a> &nbsp;&nbsp;&nbsp;
                    <hr>

                    {% else %}
                
                    <a href="{% url 'register' %}" class="btn btn-success" >Create the Perfect Impression</a> </button>   &nbsp;&nbsp;&nbsp;  
                    <a href="{% url 'myapp:action' %}" class="btn btn-success">Watch us in Action</a> 
                    <hr>
                
                    {% endif %}

                    <!-- <a href="{% url 'register' %}" class="btn btn-success" >Create the Perfect Impression</a> </button>    &nbsp;&nbsp;&nbsp;   -->
                    <!-- <a href="{% url 'myapp:action' %}" class="btn btn-success">Watch us in Action</a> -->
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-12">
                    <form action="{% url 'contentpiece:search_item' %}" method="GET">
                        {% csrf_token %}
                        <div class="card-body row no-gutters align-items-center">
                            <div class="col">
                                <input type="search" name='keyword' placeholder="Search" class="form-control" required>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-success" type="submit" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                  </svg></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>   
        </div>
      
        <br>
        
    
    <!-- Displaying items -->
    
    {% for item in item_list %}
    
  <!-- <div class="row">
        <div class="col-md-3 offset-md-2">
            <img width="180px" height="180px" src="{{ item.thumbnail.url }}">
        </div>
        <div class="col-md-4">
            <h2>{{item.item_name}}</h2>
            <h5 style="font-size: small; color: grey;">{{item.item_description}}</h5> -->
            <!-- <h5>{{item.user_name}}</h5> -->
            <!-- <h6 style="color: gray; font-size: small;">By: {{ item.user_name }}</h6>
            <h6 style="color: black; font-size: smaller;">Language of Instruction: {{item.language_of_instruction}}</h6>
            
            
        </div>
        
        <div class="col-md-2">
            {% if user.is_authenticated %} -->
            <!-- <a href="{% url 'contentpiece:play_image' item.id %}" class="btn btn-success">Conversation</a> <br><p></p> -->
            <!-- <a href="{% url 'contentpiece:play_image' item.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#00b03c" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
              </svg></a>  
               <br><br>
            {% else %}   
            <a href="{% url 'register' %}"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#00b03c" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
              </svg></a>  
               <br><br>
            {% endif %}   
            <h6 style="font-size: medium; color: #00b03c;">{{item.item_viewcount}} view{{item.item_viewcount|pluralize}}</h6>
        
            <p></p> -->


            <div class="row">
                <div class="col-md-7 offset-md-2">
                    <div class="card mb-3 shadow p-3 bg-body rounded">
                        <img width="540px" height="180px" src="{{ item.thumbnail.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h3 class="card-title">{{item.item_name}}</h3>
                          {% if user.is_authenticated %}
                          <a href="{% url 'contentpiece:play_image' item.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="54" height="54" fill="#00b03c" class="bi float-right bi-play-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                          </svg></a>  
                          {% else %}
                          <a href="{% url 'register' %}"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#00b03c" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                         <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                         </svg></a>  
                             <br><br>
                            {% endif %}   
                          <h5 class="card-text" style="font-size: em;">{{item.item_description}}</h5>
                          <h6 class="card-text" style="color: gray; font-size: x-small;">By: {{ item.user_name }}; Language of Instruction: {{item.language_of_instruction}}</h6> <br>
                          
                         <h6 style="font-size: medium; color: #00b03c; display: inline;">{{item.item_viewcount}} view{{item.item_viewcount|pluralize}}; 
                        
                            {% if user.is_authenticated %}    
                         <form action="{% url 'contentpiece:like-post' %}" method="post">
                             {% csrf_token %}
                             <input type="hidden" name="post_id" value="{{item.id}}">
                             {% if user not in item.liked.all %}
                                 <button class='btn btn-outline-success' type="submit">Like</button>
                             {% else %}
                             <button class='btn btn-light' style="color: rgb(177, 175, 175);" type="submit">Unlike</button>
                             {% endif %}
                         </form>
                        {% else %}
                         <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="#00b03c" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                             <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
                           </svg> 
                         {% endif %} 
                         <h6 style="display: inline;">{{ item.liked.all.count }} like{{ item.liked.all|pluralize }}</h6>  
                        
                        </h6>
                          
                         
                          
                        
                    </div>
                        
                      </div>
                      
                </div>
                
            </div><p></p>
            
            <!-- like dislike -->
        <!-- {% if user.is_authenticated %}    
        <form action="{% url 'contentpiece:like-post' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="post_id" value="{{item.id}}">
            {% if user not in item.liked.all %}
                <button class='btn btn-outline-success' type="submit">Like</button>
            {% else %}
            <button class='btn btn-light' style="color: rgb(177, 175, 175);" type="submit">Unlike</button>
            {% endif %}
        </form>
       {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="#00b03c" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
            <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
          </svg> 
        {% endif %} 
        <h6>{{ item.liked.all.count }} like{{ item.liked.all|pluralize }}</h6>  
        </div> 
    </div>   <p></p> -->
    <!-- <div class="container">
        <hr style="height:1px;border-width:0;color:gray;background-color:white">
    </div> -->
    






    {% endfor %}


    
    
    <!-- pagination -->

    <div class="container">
        {% if item_list.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ item_list.previous_page_number }}">Previous</a>
    {% endif %}
    Page: {{ item_list.number }} of {{ item_list.paginator.num_pages }}
    {% if item_list.has_next %}
        <a href="?page={{ item_list.next_page_number }}">Next</a>
        <a href="?page={{ item_list.paginator.num_pages }}">Last</a>
    {% endif %}    
    </div><br><br><br>

   {% endblock %}
    


</body>
</html>

