{% extends 'contentpiece/base.html' %}
{% block body %}

<div class="container">
    <h2>My Bookmarked Items</h2>
    <hr><br>

</div>

{% for item in favourite_posts %}
    
    <div class="row">
        <div class="col-md-3 offset-md-2">
            <img width="180px" height="180px" src="{{ item.thumbnail.url }}">
        </div>
        <div class="col-md-4">
            <h2>{{item.item_name}}</h2>
            <h5>{{item.item_description}}</h5>
            <h6 style="color: gray; font-size: small;">By: {{ item.user_name }}</h6>
            <h6 style="color: gray; font-size: smaller;">Language of Instruction: {{item.language_of_instruction}}</h6>
            <!-- <h6 style="color: gray; font-size: smaller;">Topic: {{item.topic}}</h6>  -->
            
        </div>
        <div class="col-md-2">
            <a href="{% url 'contentpiece:detail' item.id %}" class="btn btn-success">Conversation</a>
        </div> 
        
    </div>   <p></p>

    {% empty %}
        <div class="container">
            <h3> No bookmarked items </h3>
        </div>

    {% endfor %}
    <br><br>


    
{% endblock %}