{% extends 'contentpiece/base.html' %}
{% block body %}

<div class="container">
  
      <h3>Search Results</h3>  
      <hr>
      {% if products %}
      {% for item in  products %}
      
      
      <div class="row">
        <div class="col-md-3 offset-md-2">
            <img width="180px" height="180px" src="{{ item.thumbnail.url }}">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <h2>{{item.item_name}}</h2>
            <h5>{{item.item_description}}</h5>
            <h6 style="color: gray; font-size: small;">By: {{ item.user_name }}</h6>
            <!-- <h6 style="color: gray; font-size: smaller;">Topic: {{item.topic}}</h6> -->
            
           
        </div>
        
        <div class="col-md-2">
            <a href="{% url 'contentpiece:detail' item.id %}" class="btn btn-success">Details</a> <br>
      
      </div>

  
  </div>
  <p></p>
  {% endfor %} <br><br>
  {% else %}
	<div>
		<h2>No result found.</h2>
	</div>
  {% endif %}
 

</div>


{% endblock %}