container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_createsuperuser:
    command: "echo \"from user.models import Profile; Profile.objects.register('first_name', 'last_name', 'commpi07@gmail.com', 'commpin', '123sen456')\" | python manage.py shell"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: commp.settings