{% extends 'contentpiece/base.html' %}
{% block body %}

<div class="container">
    <div class="row g-5">
        <div class="col">
            <div class="container mb-3">
                <h1 class="font-weight-bold mt-3">PercE</h1>
    
                <hr>
                <h2>{{ item.item_name }}</h2>
                <h5 style="font-weight: normal;">{{ item.item_description}}</h5> <p></p>
        
                <hr>


                <br>
                <h2>Your Response</h2>
                <hr>
                <h6>Tip: {{item.tip}}</h6><br>
                <form enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    
                    <button class='btn btn-success' type="submit">Submit</button> <br><br><br>
                    
                </form>
            </div> 
        </div>
        </div>
    </div>
    

{% endblock %}







