{% extends 'contentpiece/base.html' %}
{% block body %}

<div class="container">
    <div class="row g-5">
        <div class="col">
            <div class="container mb-3">
                <h1 class="font-weight-bold mt-3">Percy</h1>
    
                <hr>
                <h2>{{itemli.item_name}}</h2>
                
                <h5 style="font-weight: normal;">{{itemli.item_description}}</h5><p></p>
                
                <hr>

                
                <h2>Your Response is:</h2>
                
                <h5 style="font-weight: lighter;">{{ itemli.item_answer}}</h5> <br> 
                <h5 style="font-weight: normal;">The perception created by your choice of words:</h5>
                <h5 style="font-weight: normal; font-size: small;">The feedback is displayed in the format - 'Your word #1': 'Perception created' ... 'Your Word #2': 'Perception created'...</h5><br>
               
                <h3 style="font-weight: bold;">{{str_q}}</h3> <br> <hr>
                <h6>Perceptions Created (number of instances):</h6>
                <h5 style="font-weight: bold;">{{str_g}}</h5> <p></p><hr>
                <h6 style="font-weight: normal;">Some suggestive words to create the best perception -</h6>
                <h6 style="font-weight: bold;">{{itemli.tip}}</h6>
                <br>
                
                <!-- {{emotion_list}} -->
                <br>
                
                <a href="{% url 'sean:index' %}" class="btn btn-success">Attempt more Scenarios</a>
                <a href="{% url 'sean:suggestions' %}" class="btn btn-success">Suggestions for Scenarios</a> 
                <br><br><br>
                
                
            </div> 
        </div>
        </div>
    </div> <br>
    

{% endblock %}















