{% extends 'contentpiece/base.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>Document</title>
    
</head>
<body>
    
    
    {% block body %}
        
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 style="font-weight: bolder;">Zoey</h2><p></p>
                <h5 style="font-weight: bolder;">Do you come across as Confident? Charming? Competent? What is the impression created by you?</h4>
                <h6 style="display: inline;"> Respond to various scenarios and Zoey will indicate the </h6> <h6 style="display: inline; color: #00b03c; font-weight: bolder;"> 
                    impression </h6> <h6 style="display: inline;"> created your response. Zoey will also suggest </h6> <h6 style="display: inline; color: #00b03c; font-weight: bolder;"> 
                        the right choice of words </h6> <h6 style="display: inline;"> to create the perfect impression.</h6>
                <p></p>
                {% if user.is_authenticated %}
                <a href="{% url 'sean:suggestions' %}" class="btn btn-success">Suggestions for Scenarios</a> &nbsp;&nbsp;&nbsp;
                <hr>

                {% else %}
                
                <a href="{% url 'register' %}" class="btn btn-success" >Create the Perfect Impression</a> </button>   &nbsp;&nbsp;&nbsp;  
                <a href="{% url 'myapp:action' %}" class="btn btn-success">Watch us in Action</a> 
                <hr>
                
                {% endif %}
            </div>
        </div>

    
    
    <!-- Displaying items -->
    
    {% for item in item_list %}
    
  <div class="row">
        <div class="col-md-3 offset-md-1">
            <img width="180px" height="180px" src="{{ item.thumbnail.url }}">
            
        </div>
        <div class="col-md-6">
            <h2 style="margin-left: 36px;">{{item.item_name}}</h2>
            <h5 style="font-size: small; margin-left: 36px; color: grey;">{{item.item_description}}</h5>
            
            
        </div>
        
        <div class="col-md-2">
            <a href="{% url 'sean:update_item' item.id %}" class="btn btn-success">Respond</a> <br> <br>
            <h6 style="font-size: medium; color: #00b03c;">{{item.item_answercount}} response{{item.item_answercount|pluralize}}</h6>
        </div>
            
  </div><br>

  <!-- <div class="row">
    <div class="col-md-7 offset-md-2">
        <div class="card mb-3 shadow p-3 bg-body rounded">
            <img width="540px" height="180px" src="{{ item.thumbnail.url }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">{{item.item_name}}</h3>
              <h5 class="card-text" style="font-size: em;">{{item.item_description}}</h5>
              
              
              <a href="{% url 'sean:update_item' item.id %}" class="btn btn-success">Respond</a> <br> <br>
            <h6 style="font-size: medium; color: #00b03c;">{{item.item_answercount}} response{{item.item_answercount|pluralize}}</h6>
            </div>
          </div>
    </div>
    
</div> -->
    
    {% endfor %}
    
    
    <!-- pagination -->

    <div class="container">
        {% if item_list.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ item_list.previous_page_number }}">Previous</a>
    {% endif %}
    Page: {{ item_list.number }} of {{ item_list.paginator.num_pages }}
    {% if item_list.has_next %}
        <a href="?page={{ item_list.next_page_number }}">Next</a>
        <a href="?page={{ item_list.paginator.num_pages }}">Last</a>
    {% endif %}    
    </div><br><br><br>

   {% endblock %}
    


</body>
</html>





