{% extends 'contentpiece/base.html' %}
{% block body %}

<div class="container">
    <div class="row g-5">
        <div class="col">
            <div class="container mb-3">
                <h1 class="font-weight-bold mt-3">Percy</h1>
    
                <hr>
                <h2>{{itemli.item_name}}</h2>
                
                <h5 style="font-weight: normal;">{{itemli.item_description}}</h5><p></p>
                
                <hr>

                <br>
                <h2>Your Response is:</h2>
                <hr>
                <h5 style="font-weight: normal;">{{ itemli.item_answer}}</h5> <br>
                <h5 style="font-weight: lighter;">Sorry! Your answer was too generic to leave any impact. Please attempt again.</h5>
                
                <br>
                
                <a href="{% url 'sean:index' %}" class="btn btn-success">Attempt more Scenarios</a>
                <a href="{% url 'sean:suggestions' %}" class="btn btn-success">Suggestions for Scenarios</a> 
                <br><br>
                
                
            </div> 
        </div>
        </div>
    </div> <br>
    

{% endblock %}

















