
{% extends 'contentpiece/base.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>Document</title>
    
</head>
<body>
    
    {% block body %}

    <div class="container">
        <h2>My Posts</h2>
    <hr><br>
    </div>
    

    {% for item in item_list %}

    <div class="row">
        <div class="col-md-3 offset-md-2">
            <img width="180px" height="180px" src="{{ item.thumbnail.url }}">
        </div>
        <div class="col-md-4">
            <h2>{{item.item_name}}</h2>
            <h5>{{item.item_description}}</h5>
            <h6 style="color: gray; font-size: small;">Language of Instruction: {{ item.language_of_instruction }}</h6>
            <h6 style="color: gray; font-size: smaller;">{{item.article_type}}, Topic: {{item.topic}}, {{ item.user_name }}</h6> 
            
        </div>
        <div class="col-md-2">
            <a href="{% url 'myposts:detail' item.id %}" class="btn btn-success">Details</a>
        </div>

    </div>    <p></p>
    {% endfor %}

    <div class="container">
        {% if item_list.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ item_list.previous_page_number }}">Previous</a>
    {% endif %}
    Page: {{ item_list.number }} of {{ item_list.paginator.num_pages }}
    {% if item_list.has_next %}
        <a href="?page={{ item_list.next_page_number }}">Next</a>
        <a href="?page={{ item_list.paginator.num_pages }}">Last</a>
    {% endif %}    
    </div>

   {% endblock %}
    


</body>
</html>
