

{% extends 'contentpiece/base.html' %}
{% block body %}

<div class="container">
    <div class="row g-5">
        <div class="col">
            <div class="container mb-3">
                <h2 class="font-weight-bold mt-3">Login to Access</h2>
                <hr>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-success" type="submit">Login</button> <br><br>
                
                    <a href="{% url 'forgotPassword' %}"><h3>Forgot Password</h3></a> <br>
                    <h3>Don't have an account? <a href="{% url 'register' %}">Signup</h3></a>
                </form>
            </div> 
        </div>
        </div>
    </div>
    

{% endblock %}