{% extends 'contentpiece/base.html' %}
{% block body %}

<div class="container">
    <h1>{{ user.username }}</h1>
</div>

<div class="row">
    <!-- <div class="col-md-3 offset-md-2">
        <div class="card" style="width:15rem;">
            <a href="{% url 'myposts:index' %}"><img width="250px" height="250px" src="/media/MyPosts.png" alt=""></a>
        </div>
        
    </div> -->
    <div class="col-md-3 offset-md-2">
        <div class="card" style="width:15rem;">
            <a href="{% url 'contentpiece:post_favourite_list' %}"><img width="250px" height="250px" src="{% static 'MyBookmarks.png' %}" alt=""></a>
        </div>
        
    </div>
    </div>


{% endblock %}
