{% extends 'contentpiece/base.html' %}
{% block body %}

<div class="container">
    <div class="row g-5">
        <div class="col">
            <div class="container mb-3">
                <h2 class="font-weight-bold mt-3">Signup for Free</h2>
                <hr>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-success" type="submit">SIGNUP</button> <br><br>
                <h7>We use email id to help you recover your password </h7><br><br>
                <h3>Already have an account? <a href="{% url 'login' %}">Login</a></h3>
            
            </form>
            </div> 
        </div>
        </div>
    </div>
    <br><br>
    

{% endblock %}