{% extends 'contentpiece/base.html' %}
{% block body %}


<div class="container p-5">
    <h2 class="font-weight-bold mt-3">Reset Password</h2>
 <hr>
 <p>Reset Password</p>
 <form action="{% url 'resetPassword' %}" method="POST">
    {% csrf_token %}
      <div class="form-group">
         <input type="password" class="form-control" placeholder="Create Password" name="password">
      </div> <!-- form-group// -->
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Confirm Password" name="confirm_password">
      </div> <!-- form-group// -->


      <div class="form-group">
          <button type="submit" class="btn btn-success"> Reset  </button>
      </div> <!-- form-group// -->
  </form>
</div> 

{% endblock %}