
{% extends 'contentpiece/base.html' %}
{% load static %}
{% block body %}
<br>
   <div class="container">
    <div class="col-md-2">
        <a href="{% url 'contentpiece:index' %}" class="btn btn-success">Get Started</a>
       
    </div><br>

   </div>
    <div class="row">
        <div class="col-md-6 offset-md-1">
            <h3>Commp is a community where individuals can together</h3>
            <img width="150px" height="150px" src="{% static 'contentpiece/Learn.png' %}" alt="">
            <img width="150px" height="150px" src="{% static 'contentpiece/share.png' %}" alt="">
            <!-- <img width="150px" height="150px"src="/media/Play&C.png" alt=""><br> -->
            <h5>Key Features</h5>
            <img width="180px" height="180px" src="{% static 'contentpiece/VernacularContent.png' %}" alt="">
            <img width="180px" height="180px" src="{% static 'contentpiece/BookmarkItems.png' %}" alt="">
            <img width="180px" height="180px" src="{% static 'contentpiece/GoComic.png' %}" alt=""><br>
            <!-- <img width="180px" height="180px"src="/media/Games.png" alt=""> -->
            <img width="180px" height="180px" src="{% static 'contentpiece/CVMaker.png' %}" alt="">
            <img width="180px" height="180px" src="{% static 'contentpiece/DiscussionBoard.png' %}" alt="">
            <img width="180px" height="180px" src="{% static 'contentpiece/FlashCard.png' %}" alt="">
            <!-- chatbot -->
        

            <br>
            <a href="{% url 'contentpiece:index' %}" class="btn btn-success">Get Started</a>
            <br><br><br>
        </div>
        

        <div class="col-md-2">
            
            <img class="center" width="475px" height="650px" src="{% static 'contentpiece/community.png' %}">
        </div>
    </div>

        



{% endblock %}
