
{% extends 'contentpiece/base.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>Document</title>
    
</head>
<body>
    
    
    {% block body %}
        
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>What's Your Decision?</h2>
                <h6>Respond to real life scenarios. Get instant feedback on the emotions & sentiments your decision will evoke, in most cases.</h6>
                
                <a href="{% url 'dtt:suggestions' %}" class="btn btn-success">Suggestions for Scenarios</a> 
                <hr>
            </div>
        </div>

    
    
    <!-- Displaying items -->
    
    {% for item in item_list %}
    
  <div class="row">
        <div class="col-md-3 offset-md-2">
            <img width="180px" height="180px" src="{{ item.thumbnail.url }}">
        </div>
        <div class="col-md-4">
            <h2 style="margin-left: 20px;">{{item.item_name}}</h2>
            <h5 style="font-size: small; margin-left: 20px; color: grey;">{{item.item_description}}</h5>
            
            
        </div>
        
        <div class="col-md-2">
            <a href="{% url 'dtt:update_item' item.id %}" class="btn btn-success">View</a> <br>
        </div>
            
  </div><br>
    
    {% endfor %}
    
    
    <!-- pagination -->

    <div class="container">
        {% if item_list.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ item_list.previous_page_number }}">Previous</a>
    {% endif %}
    Page: {{ item_list.number }} of {{ item_list.paginator.num_pages }}
    {% if item_list.has_next %}
        <a href="?page={{ item_list.next_page_number }}">Next</a>
        <a href="?page={{ item_list.paginator.num_pages }}">Last</a>
    {% endif %}    
    </div><br><br><br>

   {% endblock %}
    


</body>
</html>

