{% extends 'contentpiece/base.html' %}

{% block body %}


 <div class="container">
  <div class="row g-5">
      <div class="col">
          <div class="container mb-3">
              <h5> This is a 2 minute video that will guide you on how to get the maximum benefit out of commp.</h5>
              <h6 style="display: inline;"> We recommend you watch this video to learn how you can </h6>
              {% if user.is_authenticated %}
  <a href="{% url 'sean:index' %}" class="btn btn-success btn-sm">Get Started</a>
 
  {% else %} 
  <a href="{% url 'register' %}" class="btn btn-success btn-sm">Create the Perfect Impression</a>
  {% endif %}
              
              <hr>
              <video width="700" height="450" controls autoplay>
     
                <source align-content:center src="{{ item.item_content.url }}" type=video/mp4>
              </video>
          </div> 
      </div>
      </div>
  <!-- </div> -->
  {% if user.is_authenticated %}
  <a href="{% url 'sean:index' %}" class="btn btn-success">Get Started</a>
 
  {% else %} 
  <a href="{% url 'register' %}" class="btn btn-success">Create the Perfect Impression</a>
  {% endif %}
  <br><p></p><br>
{% endblock %}