{% extends 'contentpiece/base.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>Document</title>
    
</head>
<body>
    
    
    {% block body %}
        
        <!-- search bar -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Discussion Boards</h2>
                    
                    <a href="{% url 'disboard:create_item' %}" class="btn btn-success">Start a Discussion</a>
                    <hr>
                </div>
            </div>
        
        
    </div>
     <!-- search bar -->
     <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form action="{% url 'disboard:search_item' %}" method="GET">
                    {% csrf_token %}
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col">
                            <input type="search" name='keywords' placeholder="Search" class="form-control" required>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-success" type="submit" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                              </svg></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <br>
        
    
    <!-- Displaying items -->
    
    {% for item in item_list %}
  
    <div class="row">
        <div class="col-md-3 offset-md-2">
            <img width="180px" height="180px" src="{{ item.thumbnail.url }}">
        </div>
        <div class="col-md-4">
            <h2>{{item.item_title}}</h2>
            <h5 style="font-size: small; color: grey;">{{item.description}}</h5>
            <h5 style="font-size: small; color: grey;">Started by: {{item.name}}</h5>
            
            
        </div>
   
        <div class="col-md-2">
            <a href="{% url 'disboard:detail' item.id %}" class="btn btn-success">Details</a> <br>
            
    </div>
</div>
<p></p><p></p>
    {% endfor %}
    
    
    <!-- pagination -->

    <div class="container">
        {% if item_list.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ item_list.previous_page_number }}">Previous</a>
    {% endif %}
    Page: {{ item_list.number }} of {{ item_list.paginator.num_pages }}
    {% if item_list.has_next %}
        <a href="?page={{ item_list.next_page_number }}">Next</a>
        <a href="?page={{ item_list.paginator.num_pages }}">Last</a>
    {% endif %}    
    </div><br><br><br>

   {% endblock %}
    


</body>
</html>

